/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
/* подключение шрифта Arial MT через локальную папку файлом .ttf */
@font-face{

font-family: 'Arial MT';

url('../fonts/arialmt.ttf') format('truetype'),

font-weight: normal;

font-style: normal;

}

body {
  margin: 0 auto;

}

.container {
  width: 1280px;
  border: 1px solid black;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  min-height: 323px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
}

.main-header-wrapper {
  float: left;
  margin: 0 auto;
}

.main-header-title {
  margin: 0;
  font-family: Arial;
  color:  #ffffff;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.color-txt {
  color: red;
}

.main-header-list {
  list-style-type: none;
  font-family: Arial;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header-list-item {
  position: relative;
}

.main-header-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  position: absolute;
  top: 7px;
  left: -37px;
  
background-image:url(../img/Slice_3.png);
 -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header-product-photo {
  display: block;
  background-color:  #ffffff;
  width: 469px;
  height: 214px;
  float: right;
}
.container-section {
  width: 1280px;
  margin-bottom: 50px;
  margin: 0 auto;
  }


.section-header{
  width: 100%;
  min-height: 345px;
  padding: 50px;
  box-sizing: border-box;
  background-color:#ffffff;
	
}

.section-information-wrapper{
	width: 1280px;
	float: left;
	
}


/* оформление для "About your" */
.title-section{
	display: block;
	width: 254px;
	height: 28px;
	color: #445161;
	font-family: "Arial";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	margin: 49px 0px 50px 50px;
	float: left;
}

/* для параграфа задается оформление*/

.paragraph-text{
	display: block;
	width: 649px;
	height: 63px;
	color: #333333;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	float: left;
	padding-left: 50px;
	clear: both;
}


/* оформление для "video" */
.section-product-video{
	display: block;
	background-color: #445161;
	float: left;
	margin: -160px 50px 0px 50px;*/
	/*position: relative;*/
	
	}
.pluses {
    width: 1280px;
  	margin: 0 auto;
  	padding: 20px;
  	background-color: #f5f5f5;
	margin-top: 50px;
  	display: flex;
  	flex-wrap: wrap;
}

.pluses-title {
	
	width: 100%;
	display: block;
	text-align: center;
  	margin: 0 0 10px 0;
  	color: #445161;
  	font-family: "Arial";
  	font-size: 30px;
  	font-weight: 400;
  	line-height: 36px;

}

.pluses-list-wrapper {
  	width: 50%;
}

.pluses-list summary {
  	outline: none;
	padding-left: 40px;
}

.pluses-list{
	color: #333333;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}


.pluses-list:before {
  	content: "";
  	display: block;
  	width: 32px;
  	height: 32px;
  	position: absolute;
 /* top: 7px;
  left: -37px;*/
  	background-image:url(../img/Slice_1.png);
	 -webkit-background-size: contain;
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
	border: 1px solid green;	
}


  summary::-webkit-details-marker {
  	display: none;
}

/* Style for Scrinshots */


.parent{
	margin: 0 auto;
	display: flex;	
	width: 1280px;
	min-height: 487px;
	flex-wrap: wrap;
	align-content:flex-start;
	justify-content: space-evenly;
	clear: both;
	margin-top: 50px;
	
	
}
	/* Style for title "Scrinshots" */
.title-section-scrinshots{
	width: 100%;
  	display: block;
  	text-align: center;
  	margin: 0 0 10px 0;
  	color: #445161;
  	font-family: "Arial";
  	font-size: 30px;
  	font-weight: 400;
  	line-height: 36px;


		
}
/* Style for "Pariatur i" */
.child-img{
	width: 200px;
	height: 150px;
	color: #333333;	
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top:35px; 
	margin-left: 51px;
	
}
.child-text-one{
	width: 359px;
	
	color: #333333;	
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 10px;
	margin-left: 20px;

	
}
.child-text-two{
	width: 349px;
	color: #333333;	
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 10px;
	margin-left: 20px;

	
}
