body {
	margin: 0 auto;
	width: 1920px;
	background-image: url(../img/img-header.png);
	background-repeat: no-repeat;
}

.logo {
	display: flex;
}

.logo-img {
	display: block;
	margin: 40px 0 0 376px;
}

/* Style for "Waxom" */
.logo-txt {
	display: block;
	width: 115px;
	height: 26px;
	color: #ffffff;
	font-family: Raleway;
	font-size: 34px;
	font-weight: 400;
	/* Text style for "Waxom" */
	letter-spacing: -1.36px;
	margin: 55px 0 0 2px;
}

.menu-item {
	display: block;
	text-decoration: none;
	padding-left: 10px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
}

.menu {
	display: flex;
	margin: 0 0 0 776px;

}
